<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Introducción a VueJS</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    
    <body>
        
        <h1 id="autor">Autor: {{ name }}</h1>
        
        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <div class="jumbotron">
                <h1 id="title">{{ col.collection.title }}</h1>
            </div>
                <div class="card-group"style="margin-left:100px;margin-right: 100px">
                    <div class="card" v-for="obj in col.collection.items">
                        <div class="card-body">
                        <dl>
                            <div v-for="obj in obj.data">
                                    <dt>
                                        {{ obj.prompt }}
                                    </dt>
                                    <dd>
                                        {{ obj.value }}
                                    </dd>
                                    
                                </div>
                            </dl>
                        </div>
                        <div class="card-footer text-center">
                            <a v-bind:href="obj.href" class="btn btn-primary ">Ver</a>
                        </div>
                    </div>
                </div>
                                
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script type="text/javascript" src="./js/script.js"></script>


    </body>

</html>
